/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* Grid Layout
*/

#container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 3fr 1.2fr;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#header {
  display: grid;
  grid-template-columns: 5fr 3fr;
  background-color: #ffffff;
  grid-column: 2 / span 2;
  margin-bottom: 1%;
  margin-top: 2%;
}

.header-icon {
  filter: brightness(0) saturate(100%) invert(24%) sepia(5%) saturate(0%) hue-rotate(93deg) brightness(100%) contrast(93%);
  height: 1.5rem;
  justify-self: right;
  padding-right: 15%;
}

.header-icon:hover{
  fill: #72777e;
  border-radius: 75%;
}

#search-bar{
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 9fr;
  align-self: center;
  padding: 2%;
}

input {
  all: unset;
  padding: 0.5%;
  border-radius: 25px;
  border: 0.1rem solid transparent;
  font-size: 0.8rem;
  background-color: #e2e8f0;
}

input:hover{
  background-color: #bcc5cf;
}

#user-profile{
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.profile-pic{
  height: 80%;
  max-width: 90px;
  object-fit:cover;
  border-radius: 75%;
  grid-area: 1 / 1 / 3 / 2;
  justify-self: center;
  align-self:center;
}

#greetings{
  grid-area: 1 / 2 / 3 / 3;
  align-self: center;
  font-weight: bold;
  font-size: 1rem;
  justify-items: start;
}

#profile-username{
  font-size: 1.4rem;
}

#navbar {
  display: grid;
  grid-template-columns: repeat(3,3fr) 1fr;
  padding-top: 3%;
  margin-left: 5%;
}

.navbar-btn{
  width: 12ch;
  height: 2.3rem;
  align-self: center;
  justify-self: center;
  border-radius: 25px;
  border: 0.1rem solid transparent;
  font-size: 0.9rem;
  background-color: #1992d4;
  color: #ffffff;
  font-weight: bold;
}

.navbar-btn:hover{
  background-color: #1578ad;
}

#user-access{
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  align-items: center;
  justify-items: center;
  column-gap: 5%;
  margin-left: 15%;
}

#header-profile-pic{
  grid-area: 1 / 2 / -1 / 3;
  max-width: 50px;
  max-height: auto;
}

#header-icon-bell{
  justify-self: right;
}

#access-username{
  font-size: 1rem;
  font-weight: bold;
  justify-self: left;
}

#l-sidebar {
  display: grid;
  color: #ffffff;
  row-gap: 3rem;
  background-color: #1992d4;
  grid-row: 1 / -5;
  grid-column: 1 / 2;
  font-size: 0.9rem;
  font-weight: bold;
  align-content: start;
  padding-left: 0.8rem;
}

.l-sidebar-icon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(71deg) brightness(95%) contrast(106%);
  height: 1.5rem;
  justify-self: center;
}

#dashboard {
  display: grid;
  justify-items: left;
  align-items: center;
  grid-template-columns: 1fr 4fr;
  padding-top: 1rem;
}

#dashboard-icon {
  justify-self: center;
  height: 90%;
}

#dashboard-title {
  font-size: 1.6rem;
}

#main-menu {
  display: grid;
  gap: 1rem;
}

.main-menu-item{
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
}

.main-menu-p{
  width: 16ch;
  text-align: left;
}

#options-menu {
  display: grid;
  gap: 1rem;
}

.options-menu-p{
  width: 16ch;
  text-align: left;
}

#projects-p,
#announcements-title,
#trending-title {
font-size: 1.2rem;
justify-self:left;
font-weight: bold;
padding: 2%;
padding-bottom: 0%;
}

#projects {
  display: grid;
  background-color: #e2e8f0;
  grid-template-rows: auto 1fr;   
}

#selection-process-container{
  display: grid;
  align-content:start;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 2%;
}

.selection-process-div{
  display: grid;
  background-color: #ffffff;
  width: auto;
  height: clamp(160px, 190px, 340px);
  padding: 5%;
  gap: 5%;
  border-left: 0.5rem solid #f0b429;
  border-radius: 5px;
  box-shadow: 0.2rem 0.2rem 0.5rem rgb(189, 189, 189);
}

.selection-process-title{
  justify-self: left;
  font-weight: bold;
  font-size: 1rem; 
}

.selection-process-description{
  justify-self: left;
  text-align: left;
  font-size: 0.8rem;
  color: #424242;
}

.selection-process-btn-bar{
  display: grid;
  grid-template-columns: repeat(3, 2.3rem);
  justify-self: right;
}

.selection-process-img {
  filter: brightness(0) saturate(100%) invert(24%) sepia(5%) saturate(0%) hue-rotate(93deg) brightness(100%) contrast(93%);
  height: 1.2rem;
}

#r-sidebar {
  display: grid;
  background-color: #e2e8f0;
  padding: 1rem;
  padding-right: 10%;
  padding-top: 3.3%;
}

#announcements-div{
  display: grid;
  background-color: #ffffff;
  padding: 1rem;
  gap: 5%;
  border-radius: 8px;
  margin-top: 5%;
  width: auto;
  height: clamp(10rem, 20rem, 30rem);
  box-shadow: 0.2rem 0.2rem 0.5rem rgb(189, 189, 189)
}

.announcement-description{
  text-align: left;
  font-size: 0.6rem;
  color: #424242;
  padding-bottom: 1.03rem;
  border-bottom: solid 1px #969696;
}

.announcement-title{
  justify-self: left;
  font-weight: bold;
  font-size: 0.7rem; 
}

#trending-div{
  display: grid;
  background-color: #ffffff;
  padding: 1rem;
  gap: 5%;
  border-radius: 8px;
  width: minmax(1fr, 500rem);
  height: 83%;
  margin-top: 1rem;
  box-shadow: 0.2rem 0.2rem 0.5rem rgb(189, 189, 189)
}

.trending-item {
display: grid;
grid-template-columns: 1fr 2.5fr;
font-size: 0.7rem;
text-align: left;
align-items: center;
}

.trending-item-descr {
  color: #555555;
}

.trending-img {
border-radius: 2rem;
width: 3rem;
}